<div class='h-full'>
  <div class='flex relative'>
    <div
      class='absolute opacity-0 hover:opacity-100 hover:ease-in ease-out duration-200 flex flex-col w-full h-full justify-center items-center bg-kst-blue/90'
    >
      <div class='uppercase text-white text-lg'>{{@item.title}}</div>
      <div class='uppercase text-white text-xs'>{{@item.subtitle}}</div>
    </div>
    <img
      src='{{@item.mainImagePath}}'
      class='w-full h-full'
      alt='Image showing page from the project done for {{@item.title}}'
    />
  </div>
  <div class='py-6 text-slate-400 text-justify'>{{@item.description}}</div>
</div>