<div class="h-full">
  <button class="cursor-pointer" type="button" {{on "click" this.openModal}}>
    <div class="relative flex justify-center">
      <div
        class="work-image-overlay absolute flex h-full w-full flex-col items-center justify-center bg-kst-blue/90 opacity-0 duration-200 ease-out hover:opacity-100 hover:ease-in"
      >
        <div
          role="presentation"
          class="text-lg uppercase text-white"
        >{{@item.title}}</div>
        <div class="text-xs uppercase text-white">{{@item.subtitle}}</div>
      </div>
      <img
        src="{{@item.mainImagePath}}"
        class="h-full w-5/6 lg:w-full"
        alt="Page from the project done for {{@item.title}}"
      />
    </div>
  </button>
  <div
    class="py-6 px-4 text-justify text-slate-400 lg:px-0"
  >{{@item.description}}</div>
</div>