<div class="col-span-3 mt-8 bg-white/30 md:mx-10 md:mt-0">
  <div class="flex h-full flex-col py-4 px-8">
    <h3 class="pb-2 text-xl tracking-wider text-kst-blue">Get in touch</h3>
    <div class="flex h-full w-full flex-col">
      <form class="flex h-full flex-col py-2">
        <div class="flex w-full flex-col md:flex-row">
          <div class="flex h-full w-full flex-col text-sm md:w-1/2">
            <Input
              class="m-2 bg-black/40 p-2 text-white"
              id="name"
              @type="text"
              @value={{mut (get this.formData "name")}}
              placeholder="Name:"
              required
            />
            <Input
              class="m-2 bg-black/40 p-2 text-white"
              id="phone"
              @type="text"
              @value={{mut (get this.formData "phone")}}
              placeholder="Phone:"
            />
            <Input
              class="m-2 bg-black/40 p-2 text-white"
              id="email"
              @type="text"
              @value={{mut (get this.formData "email")}}
              placeholder="Email:"
            />
          </div>
          <div class="flex h-full w-full flex-col text-sm md:w-1/2">
            <Textarea
              class="m-2 h-full bg-black/40 p-2 text-white"
              id="message"
              @value={{mut (get this.formData "message")}}
              placeholder="Message:"
              required
            />
          </div>
        </div>
        <div class="flex flex-row items-center justify-center lg:justify-start">
          <button
            class={{this.buttonClass}}
            type="submit"
            {{on "click" this.submit}}
          >Send</button>
        </div>
      </form>
    </div>
  </div>
</div>