<div
  class="flex flex-col items-center bg-kst-gray/80 pb-32 tracking-wide text-white"
>
  <div
    class="flex h-full w-full bg-cover bg-center bg-no-repeat"
    style={{this.calculatedStyle}}
  >
    <div class="flex h-full w-full justify-center bg-black/50">
      <div class="w-1/2 py-32 text-6xl font-bold">
        {{@article.title}}
      </div>

      {{log @article.user}}
    </div>
  </div>
  <div class="blog-content w-1/2 pt-28 text-lg">
    {{html-safe @article.body.processed}}
    {{this.contentWithAbsoluteImages}}
  </div>
</div>
<ContactSection />
<FooterSection />